<div>
    <el-form label-width="100px" class="handylink-register-form" :model="commonInfo" >
        <el-form-item label="类    型：" prop="type">
            <el-select v-model="commonInfo.type" placeholder="请选择类型">
                <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="中文显示：" prop="zhDisplay">
            <el-input v-model="commonInfo.zhDisplay" 
                    placeholder="请输入中文显示"></el-input>
        </el-form-item>
        <el-form-item label="英文显示：" prop="enDisplay">
            <el-input v-model="commonInfo.enDisplay" 
                    placeholder="请输入英文显示"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="add">添 加</el-button>
            <el-button @click="cancel">取 消</el-button>
        </el-form-item>
    </el-form>
</div>